# -*- mode: yaml -*-

version: 2
jobs:
{{- range .GoVersions }}
  test-{{.}}:
    working_directory: /go/src/go.universe.tf/metallb
    docker:
      - image: circleci/golang:{{.}}
    steps:
      - checkout
      - run: make ci
{{- end }}
{{- range $bin := $.Binary }}
  deploy-{{$bin}}:
    working_directory: /go/src/go.universe.tf/metallb
    docker:
      - image: circleci/golang:1.11
    steps:
      - checkout
      - setup_remote_docker
      - run: echo $CIRCLE_BRANCH
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - run: make ci-prepare
      - run: make gen-image-targets TAG=${CIRCLE_BRANCH:-${CIRCLE_TAG}} REGISTRY=metallb
      - run: make -f Makefile.image-targets {{$bin}}
{{- end }}
workflows:
  version: 2
  test-and-deploy:
    jobs:
{{- range .GoVersions }}
      - test-{{.}}:
          filters:
            tags:
              only: /.*/
{{- end }}
{{- range $bin := $.Binary }}
      - deploy-{{$bin}}:
          filters:
            branches:
              ignore: /pull\/.*/
            tags:
              only: /.*/
          requires:
            - test-1.11
{{- end }}
