apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: dev-env-layer2
      protocol: layer2
      addresses:
      - SERVICE_V4_RANGE
