@charset "UTF-8";


#nav-select {
  display: none; 
  background: #e5e5e5;
}

article #sidebar-toggle-span{display:none;}

 
article .anchor {
    color: #ff8800;
    font-size: 0.7em;
    cursor: pointer;
    visibility: hidden;
}


article h2:hover .anchor, article h3:hover .anchor, article h4:hover .anchor, article h5:hover .anchor, article h6:hover .anchor {
  visibility: visible; }


article a {
    color: rgb(8, 130, 183);
    font-weight: normal;
}
article a.highlight, article a.highlight:hover, article a.highlight:focus {
  text-decoration: none;
  outline: none;
  outline: 0; }

article a.highlight {
  line-height: 1.1;
  display: inline-block; }

article a.highlight:after {
  margin-left: 0;
  margin-right: auto;
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #238fbd;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -ms-transition: width 0.35s ease;
  transition: width 0.35s ease; }

article a.highlight:hover:after, article a.highlight:focus:after {
  width: 100%; }

article code {
    font-family: "Consolas", menlo, monospace;
    font-size: 92%;
    border-radius: 2px;
    white-space: nowrap;
    color: #616161;
    background: #FFF7DD;
    border: 1px solid #ffeeb8;
    padding: 0px 2px;
    
}

article pre {
    line-height: 1.15;
    border-radius: 0;
    color: #ffffff;
    background: #1d1f21;
}

article pre code {
    background: inherit;
    white-space: pre-wrap;
    border: 0;
    color:white;
}
article .clippy-icon {
  width: 32px;
}

article pre .copy-to-clipboard {
    float:right;
    background-color: inherit;
    color: #ccc;
    border: 1px solid #272a2c;
    border-radius: 2px;
    cursor: pointer;
}

article h2, article h3, article h4, article h5, article h6 {
  font-family: "Lato", "Work Sans Bold", "Helvetica Bold", "Tahoma Bold", "Geneva Bold", "Arial Bold", sans-serif;
  text-rendering: optimizeLegibility;
  color: #5e5e5e;
  font-weight: 400;
  letter-spacing: -1px; }

article h1 {
  font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #060606;
  font-weight: 200; }

blockquote {
  border-left: 10px solid #f2f2f2; }

blockquote p {
  font-size: 1.1rem;
  color: #999; }

blockquote cite {
  display: block;
  text-align: right;
  color: #666;
  font-size: 1.2rem; }

div.notices {
  margin: 2rem 0;
  position: relative; }

div.notices p {
  padding: 15px;
  display: block;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

div.notices p:first-child:before {
  position: absolute;
  top: -27px;
  color: #fff;
  font-family: FontAwesome;
  content: '';
  left: 10px; }

div.notices p:first-child:after {
  position: absolute;
  top: -27px;
  color: #fff;
  left: 2rem; }

div.notices.info p:first-child:after {
  content: 'Info'; }

div.notices.warning p:first-child:after {
  content: 'Warning'; }

div.notices.note p:first-child:after {
  content: 'Note'; }

div.notices.tip p:first-child:after {
  content: 'Tip'; }

div.notices.note {
  border-top: 30px solid #6bb1e0;
  background: #e6f3fb;
  color: rgba(47, 103, 141, 0.995) !important; }

div.notices.info {
  border-top: 30px solid #f1b37e;
  background: #fefaf5;
  color: rgba(150, 90, 38, 0.995) !important; }

div.notices.tip {
  border-top: 30px solid #84c578;
  background: #e8f7e6;
  color: rgba(72, 125, 63, 0.995) !important; }

div.notices.warning {
  border-top: 30px solid #d58181;
  background: #fbeded;
  color: rgba(132, 56, 56, 0.995) !important; }

code, kbd, pre, samp {
  font-family: "Consolas", menlo, monospace;
  font-size: 92%; }




article img {
    max-width: 100%;
    margin: 0rem auto;
    display: block;
    text-align: center;
}



article table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e6e6e6;
    table-layout: auto;
    width: 100%;
    margin-bottom: 2em;
}

article table td {
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    color: #323232;
}

article table th {
    border-bottom: 2px solid #e5e5e5;
    background-color: white;
    color: black;
    vertical-align: middle;
    padding: 0.5rem;
    background: #f6f6f6;
    padding: 0.5rem;
    color: #323232;
}







.tooltipped {
  position: relative; }

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased; }

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent; }

.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
  display: inline-block;
  text-decoration: none; }

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px; }

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8); }

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-sw:after {
  margin-right: -15px; }

.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8); }

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-nw:after {
  margin-right: -15px; }

.tooltipped-s:after, .tooltipped-n:after {
  transform: translateX(50%); }

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%); }

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8); }

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%); }

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8); }