header {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(1, 42, 60);
    padding: 0px;

    .logo {
        text-align: center;
        color: white;
        font-weight: bold;
        padding-right: 16px;
        padding-left: 16px;
    }

    > section {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex:2;
        align-items: stretch;
        flex-direction: row;
        justify-content:   space-around;

        li {
            display: flex;
            align-items: center;
            list-style: none;
            list-style-type: none;
            list-style-image: none;

            &:hover  { 
              box-shadow: inset 0 -4px 0 #ff8800;
            }

            a {
                display: block;
                padding: 0 1em;
                color: #d0d0d0;
                -webkit-font-smoothing: auto;
            }
        }

        h3 {
            display: none;
        }
    }

    > div.burger {
        display: none;

        a {
            display: block;
            padding: 0 1em;
            color: #d0d0d0;
            -webkit-font-smoothing: auto;
        }
    }
}


nav {
    background: #e5e5e5;
    a {
        color: rgb(8, 130, 183);
        display: flex;
        justify-content: space-between;
        span {
            display:block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width:calc(300px - 40px - 20px);
            
            &:hover  {
            background-color: white;
            }
        }
        
    }

    ul.topics {
        list-style: none;
        padding-left: 10px;
        margin-left: 0px ;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;

        .category-icon {
            text-align: right;
            width: 20px;
            margin-top: 7px;
        }
        .read-icon {
            display: none;
        }

        > li{
            margin-bottom: 5px;
        }

        ul {
            display: none;
        }

        li {
            &.active{
                > a {
                    font-weight: bold;
                }
                > ul {
                    display: block;        
                }
            }
            &.parent{>ul{display:block}}  
            &.alwaysopen{>ul{display:block}}  

            ul {
                list-style: none;
                font-size: 13px;
                padding-left: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

section.page {
    aside {
        .searchbox {
            margin: 0rem 0rem 0rem;
            padding: 0rem 1rem;
            padding-top: 1em;
            color: rgb(1, 42, 60);

            input {
              border: 1px solid rgb(204, 204, 204);
              color: rgb(85, 85, 85);
              display: inline-block;
              font-size: 14px;
              line-height: 20px;

              padding-bottom: 6px;
              padding-left: 12px;
              padding-right: 12px;
              padding-top: 6px;
              width: 100%;
            }

            span {
              position: absolute;
              float: right;
              margin-top: -45px;
              right: 30px;
              cursor: pointer;
            }
        }

        &.footline { 
            border-top: 1px solid #e6e6e6;
            margin: 0.25em;
            padding:20px;
            font-size: smaller;

            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .tags{
                order:1;
                a:before {
                  content: "#";
                }
            }
            .author{order:3;}
            .github-link{order:4;}
            .date{order:3;}
        }

        #navigation {
            position: relative;
            width: 100%;
            display: table;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;

            .nav {
                color: #e5e5e5;
                font-size: 4em;
                display: table-cell;
                position: static;
                top: auto;
                width: 50%;
                height: 1rem;
                padding: 1rem 2rem 2.25rem;

                &.nav-prev {
                    text-align: left;
                    padding-left: 4rem;
                }

                &.nav.nav-next {
                    text-align: right;
                    padding-right: 4rem;
                }
            }
        }        
    }
}





footer{
 background: #e5e5e5;
 background-color: rgb(1, 42, 60);
 color:white;
}
