@media only all and (max-width: 59.938em) {
  header  {
    height: auto;
    flex-wrap: wrap;

    .logo {
      flex: 1 0 auto;
    }

    > div.burger {
      display: flex;
      flex: 0 0 50px;
      align-items: center; 
    }

    > section {
      display: none;
      &.responsive {
        display: flex;
        flex: 0 1 100%;
        flex-direction: column;
        align-items: center; 
      }
    }
  }
  
  nav{
    display: none;
  }

  #nav-select {
    display: block;
  }

  .page {
    width: 100%;
    max-width: 59.938em;
  }

  footer div {
    width: 100%;
  }

 }