@import "functions";
@import "colors";
@import "fonts";
@import "variables";

@import "layout";

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    -webkit-box-sizing: border-box;
}

@import "main";

@import "article";
@import "shortcodes";

@import "responsive";
@import "print";