! -*- bgp -*-
!
! BGPd sample configuration file
!
! $Id: bgpd.conf.sample,v 1.1 2002/12/13 20:15:29 paul Exp $
!
hostname bgpd
password zebra
!enable password please-set-at-here
!
router bgp 64512
 no bgp default ipv4-unicast
 no bgp network import-check
{% for node_ip in node_ips %}
 neighbor {{ node_ip }} remote-as 64512
{%- endfor %}
 {% for ip_family in ip_families %}
 address-family {{ ip_family }} unicast
  {% for node_ip in node_ip_by_family[ip_family] %}
  neighbor {{ node_ip }} activate
  neighbor {{ node_ip }} next-hop-self
  {% if ip_family == "ipv6" %}
  neighbor {{ node_ip }} route-map IPV6GLOBAL in
  {% endif%}
 {% endfor %}
 exit-address-family
 {% endfor %}
 {% if "ipv6" in ip_families %}
 route-map IPV6GLOBAL permit 10
 set ipv6 next-hop prefer-global
 {% endif %}
!
!router bgp 7675
! bgp router-id 10.0.0.1
! network 10.0.0.0/8
! neighbor 10.0.0.2 remote-as 7675
! neighbor 10.0.0.2 ebgp-multihop
!
! address-family ipv4 unicast
!  neighbor 10.0.0.2 route-map set-nexthop out
!  neighbor 10.0.0.2 next-hop-self
! exit-address-family
!
! access-list all permit any
!
!route-map set-nexthop permit 10
! match ip address all
! set ip next-hop 10.0.0.1
!
!log file /var/log/bgpd.log
!
log stdout debugging
