<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="metallb.io/metallb git https://github.com/metallb/metallb">
<meta name="go-source" content="metallb.io/metallb https://github.com/metallb/metallb https://github.com/metallb/metallb/tree/master{/dir} https://github.com/metallb/metallb/blob/master{/dir}/{file}#L{line}">
<meta http-equiv="refresh" content="0; url=https://godoc.org/metallb.io/metallb">
</head>
<body>
Nothing to see here; <a href="https://godoc.org/metallb.io/metallb">move along</a>.
</body>
</html>
