apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    peers:
      # NOTE: IP_PEER_ADDRESS will be substituted with the IP address
      # assigned to the frr container.
    - peer-address: IP_PEER_ADDRESS
      peer-asn: 64512
      my-asn: 64512
    address-pools:
    - name: dev-env-bgp
      protocol: bgp
      addresses:
      - 192.168.10.0/24
      - fc00:f853:0ccd:e799::/124
