{{- define "localpreffilter" -}}
{{$localPrefixListName :=localPrefPrefixList .neighbor .advertisement.LocalPref -}}
{{frrIPFamily .advertisement.IPFamily}} prefix-list {{$localPrefixListName}} seq {{counter $localPrefixListName}} permit {{.advertisement.Prefix}}
{{- end -}}

{{- define "communityfilter" -}}
{{$communityPrefixlistName :=communityPrefixList .neighbor .community -}}
{{frrIPFamily .advertisement.IPFamily}} prefix-list {{$communityPrefixlistName}} seq {{counter $communityPrefixlistName}} permit {{.advertisement.Prefix}}
{{- end -}}

{{- define "largecommunityfilter" -}}
{{$largeCommunityPrefixlistName :=largeCommunityPrefixList .neighbor .largecommunity -}}
{{frrIPFamily .advertisement.IPFamily}} prefix-list {{largeCommunityPrefixList .neighbor .largecommunity}} seq {{counter $largeCommunityPrefixlistName}} permit {{.advertisement.Prefix}}
{{- end -}}

{{- /* The prefixes are per router in FRR, but MetalLB api allows to associate a given BGPAdvertisement to a service IP,
     and a given advertisement contains both the properties of the announcement (i.e. community) and the list of peers
     we may want to advertise to. Because of this, for each neighbor we must opt-in and allow the advertisement, and
     deny all the others.*/ -}}
{{- define "neighborfilters" -}}

route-map {{.neighbor.ID}}-in deny 20

{{- range $c := .neighbor.LocalPrefsV4 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ip address prefix-list {{localPrefPrefixList $.neighbor . }}
  set local-preference {{.}}
  on-match next
{{- end -}}

{{- range $c := .neighbor.LocalPrefsV6 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ipv6 address prefix-list {{localPrefPrefixList $.neighbor . }}
  set local-preference {{.}}
  on-match next
{{- end -}}

{{- range $c := .neighbor.LargeCommunitiesV4 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ip address prefix-list {{largeCommunityPrefixList $.neighbor .}}
  set large-community {{.}} additive
  on-match next
{{- end -}}

{{- range $c := .neighbor.LargeCommunitiesV6 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ipv6 address prefix-list {{largeCommunityPrefixList $.neighbor .}}
  set large-community {{.}} additive
  on-match next
{{- end -}}

{{- range $c := .neighbor.CommunitiesV4 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ip address prefix-list {{communityPrefixList $.neighbor .}}
  set community {{.}} additive
  on-match next
{{- end -}}

{{- range $c := .neighbor.CommunitiesV6 }}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ipv6 address prefix-list {{communityPrefixList $.neighbor .}}
  set community {{.}} additive
  on-match next
{{- end -}}

{{- range $a := .neighbor.Advertisements }}
{{/* Advertisements for which we must enable set the local pref */}}
{{- if not (eq $a.LocalPref 0)}}
{{template "localpreffilter" dict "advertisement" $a "neighbor" $.neighbor}}
{{- end -}}

{{/* Advertisements for which we must enable the community property */}}
{{- range $c := $a.Communities }}
{{template "communityfilter" dict "advertisement" $a "neighbor" $.neighbor "community" $c}}
{{- end }}
{{- range $lc := $a.LargeCommunities }}
{{template "largecommunityfilter" dict "advertisement" $a "neighbor" $.neighbor "largecommunity" $lc}}
{{- end }}
{{/* this advertisement is allowed to the specific neighbor  */}}
{{$plistName:=allowedPrefixList $.neighbor}}
{{frrIPFamily $a.IPFamily}} prefix-list {{$plistName}} seq {{counter $plistName}} permit {{$a.Prefix}}
{{- end }}


{{/* If the neighbor does not have an advertisement, we need to add a prefix to deny
for when we have a prefix but a given peer is not selected for any prefixes */}}
{{$plistName:=allowedPrefixList $.neighbor}}
{{- if not .neighbor.HasV4Advertisements}}
ip prefix-list {{$plistName}} seq {{counter $plistName}} deny any
{{- end }}
{{- if not .neighbor.HasV6Advertisements}}
ipv6 prefix-list {{$plistName}} seq {{counter $plistName}} deny any
{{- end }}

route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ip address prefix-list {{allowedPrefixList $.neighbor}}
route-map {{$.neighbor.ID}}-out permit {{counter $.neighbor.ID}}
  match ipv6 address prefix-list {{allowedPrefixList $.neighbor}}

{{- end -}}
